[Unit]
Description=vdsm hourly logrotate
BindsTo=nginx.service
[Service]
Type=oneshot
ExecStart=php -f /usr/share/webapps/nextcloud/cron.php
User=http
